---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
  description?: string;
}

const { title, description = "Neurocirujano Especialista" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
    <ViewTransitions />
	</head>
	<body class="font-sans text-slate-800 bg-white antialiased">
		<slot />
	</body>
</html>
